.App {
  text-align: center;
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 200px;
}

.content{
  padding: 20px;
}


  .logo {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--black);
}


@media screen and (max-width: 450px) {
  .App {
    text-align: center;
    transition: margin-left .5s;
    padding: 10px;
    margin-left: 150px;
  }

}